<body style = "background-color : #FFBD1D; text-align : center;">

<header style = "background-color: #FFBD1D; margin-bottom: -190px;">
<div class='content'>
    <div class='visible'>
      <p style = "  font-family: 'Don-grafiti'; font-size : 2rem;">SOBRE </p>
      <ul >
        <li>  N Ó S</li>
        <li>  N O I Z</li>
        <li>  N Ó S</li>
        <li > N O I Z</li>
      </ul>
    </div>
</div>

</header>
<a id = "voltar" style = "margin-right : 63rem" href = "/"><i style ="font-size: 48px; color : white" class="material-icons">keyboard_backspace

</i></a>

  
  <div>
  <h1 id = "titulo" >TUDO QUE NOIS TEM É NOIS- Emicida</h1></div>

<div >

<p id = "descricao"> "Tudo que nós tem é nós" essa frase dita por Emicida na música Príncipia, reflete o nosso objetivo com a criação deste site, tendo em vista que a periferia produz informação de qualidade cotidianamente mas não há uma plataforma de centralização dessas informações e com isso decidimos criar o "Informação na Quebrada", 
  para propagar as notícias da periferia de "nois" para "nois", pois como diz o rapper Rashid : "É nois por nois, porque se não for assim não funciona".</p> 
  <p id = "descricao" style = "margin-top : -2">Queremos também agradecer a Rede Ubuntu e a todos os pesquisadores que fizeram parte da Pesquisa de Extensão "Vulnerabilidades urbanas e o enfrentamento ao COVID-19 em M'Boi Mirim e região: acesso à informação, prevenção e ações comunitárias" da UFABC e FGV ,
  que coletaram as informações para realização desta plataforma e também a todos as pessoas que produzem cultura e informação na periferia. Gratidão a todos vocês !🌿🤙💖</p>
</div>
<div>
  <div id = "imagem_pc">
  <img  src ='./assets/imagens/sobre/caneca-menino.png' style="
  margin-bottom: -50"> </div>
  <div id = "imagem_mobile">
  <img   src ='./assets/imagens/sobre/caneca-menino.png' style="
  margin-bottom: -50"> </div>
  <h1 id = "titulo" style = "margin-top : 80px;">Colaboradores </h1>
  <h1 id = "descricao" >Nascidos e criados no extremo sul de  São Paulo,  Gabriel Antony, Gabriel Venezi e Gabriel Gomes, se conheceram no ensino médio e além de terem o mesmo nome, também tinham ideias parecidas de se 
    emancipar através dos estudos e conseguir entrar em uma Universidade Federal. Então procurar evoluir através dos estudos cursando uma Universidade Federal é símbolo de resistência e que mesmo o caminho sendo muito mais difícil pros nossos, a gente se esforça dobrado pra conseguir chegar onde queremos.</h1>
</div>
<div class="card-group" >
  <div class="card" style= "margin-right: 2px; margin-left : 2px; margin-bottom : 100px;
   background-color :  #FFBD1D; text-align : justify;
   border-radius: 15px; border-width:10px; border-style: solid; border-color:#FFBD1D;">
    <div>
    <img class="card-img-top" src="../assets/imagens/sobre/foto_github.jpg" alt="Card image cap"></div>
    <div class="card-body" style  = "text-align : center;">
      <h5 class="card-title" style = "font-family: 'Roboto Slab', serif; font-size : 23px;"
      >Gabriel Gomes de Oliveira Costa</h5>
      <div style = "padding-bottom:-100">
      <h1 class="card-text" style = "font-family: 'Roboto Slab', serif; font-size : 17px;">Estudante de Ciência da Computação - UFABC</h1>
        <div> 
          <a  style = "margin-right: 20px"href="https://www.linkedin.com/in/gabriel-gomes-de-oliveira-costa-613b4a194/"><img src="../assets/imagens/sobre/linkedin.png"></a>
          <a  style = "animation-delay:0.1s; margin-right: 20px"href="https://www.instagram.com/gomess012/"><img src="../assets/imagens/sobre/instagram.png"></a>
          <a  style = "animation-delay:0.2s;" href="https://github.com/gomesgr2/"><img src="../assets/imagens/sobre/github.png"></a>
        </div>
        <div>
          <button style = "margin-top: 30px;" class="btn btn-lg btn-outline-primary"
            (click)="openScrollableGomesContent(GomesContent)"> 
            Saiba mais
          </button> </div>
    </div>
    
    </div>
 
  </div>
  
  <div class="card" style = "margin-right: 1px; margin-bottom : 100px;background-color :  #FFBD1D;
  border-radius: 15px; border-width:10px; border-style: solid; border-color:#FFBD1D;">
    <img class="card-img-top" src="../assets/imagens/sobre/camisarosa.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style = "font-family: 'Roboto Slab', serif; font-size : 23px;">Gabriel Antony Passos</h5>
      <div style = "padding-bottom:-100">
        <h1 class="card-text" style = "font-family: 'Roboto Slab', serif; font-size : 17px;">
          Estudante de Ciência da Computação - UFABC</h1>
          <div> 
            <a  style = "margin-right: 20px" href = "https://www.linkedin.com/in/gabriel-passos-4358841bb/"><img src="../assets/imagens/sobre/linkedin.png"></a>
            <a  style = "animation-delay:0.1s; margin-right: 20px" href="https://www.instagram.com/gabriel.apassos/"><img src="../assets/imagens/sobre/instagram.png"></a>
            <a  style = "animation-delay:0.2s; " href="https://github.com/GAntonyP"><img src="../assets/imagens/sobre/github.png"></a>
          </div>
          <button style = "margin-top: 30px;" class="btn btn-lg btn-outline-primary"
      (click)=" openScrollableAntonyContent(AntonyContent)"> 
      Saiba mais
    </button> 
          
      </div>
    
    </div>
  </div>
  <div class="card" style = "margin-right: 1px; margin-bottom : 100px;background-color :  #FFBD1D;
  border-radius: 15px; border-width:10px; border-style: solid; border-color:#FFBD1D;">
    <img class="card-img-top" src="../assets/imagens/sobre/Venezi.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style = "font-family: 'Roboto Slab', serif; font-size : 23px;">Gabriel Venezi dos Santos</h5>
        <h1 class="card-text" style = "font-family: 'Roboto Slab', serif; font-size : 17px;">Estudante de Economia - UFABC</h1>
          <div> 
            <a   style = "margin-right: 20px" href="https://www.linkedin.com/in/gabriel-gomes-de-oliveira-costa-613b4a194/"><img src="../assets/imagens/sobre/linkedin.png"></a>
            <a style = "animation-delay:0.1s; margin-right: 20px" href="https://www.instagram.com/gvenezi/"><img src="../assets/imagens/sobre/instagram.png"></a>
          </div>
          <button style = "margin-top: 30px;" class="btn btn-lg btn-outline-primary"
          (click)="openScrollableVeneziContent(VeneziContent)"> 
          Saiba mais
        </button> 
    </div>
  </div>
</div>
<h1 id = "titulo" style = "margin-top : -15px;">Apoie essas instituições que nos ajudaram </h1>
<div class="card-group">
  <div class="card" style = "margin-right: 1px; margin-bottom : 100px;background-color :  #FFBD1D;
 border-color:#FFBD1D;" >
    <img src="../assets/imagens/sobre/logo-ubuntu.jpg">
    <div class="card-body">
      <h5 class="card-title" style="font-family: 'Roboto Slab',serif; font-size: 23px; color:black;">Rede Ubuntu</h5>
      <p class="card-text" style="font-family: 'Roboto Slab',serif; font-size: 17px; color:black;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="https://redeubuntu.org/"  class="btn btn-lg btn-outline-primary">Apoie esta instituição</a>
    </div>
  </div>
  <div class="card"  class="card" style = "margin-right: 1px; margin-bottom : 100px;background-color :  #FFBD1D;
  border-color:#FFBD1D;">
    <img src="../assets/imagens/sobre/+1code_image.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-family: 'Roboto Slab',serif; font-size: 23px;">+1Code</h5>
      <p class="card-text" style="font-family: 'Roboto Slab',serif; font-size: 17px; color:black; text-align: justify;">A +1Code, um negócio social que nasceu para levar o mundo tecnológico para as Favelas.</p>
      <p class="card-text" style="font-family: 'Roboto Slab',serif; font-size: 17px; color:black;text-align: justify;">O Negócio de Impacto Social foi pensado e programado para ser algo voluntário e que se sustentasse;
      mentores programadores de várias empresas se disponibilizaram para lecionar os jovens selecionados das comunidades de baixa renda do Brasil a programar.</p>
      <a href="http://www.mais1code.com.br/"  class="btn btn-lg btn-outline-primary">Apoie esta instituição</a>

    </div>
  </div> </div>
  

<ng-template #AntonyContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Gabriel Antony</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <p style = "font-size : 16px; color : black;">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
      </div>
    </ng-template>
<ng-template #GomesContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Gabriel Gomes</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style = "font-size : 16px; color : black;">Sou formado em técnico em Eletrônica pela Etec Carina Carinhato. Atualmente, sou aluno do Bacharelado de Ciência e Tecnologia da Universidade Federal do ABC, sou um grande entusiasta da área tecnologia e sempre disposto a aprender sobre a área, logo, estou sempre estudando e me aprimorando, atualmente, possuo conhecimentos na linguagem Python, principalmente na área de Data Science, e tenho conhecimentos básicos em MySql.
          Vale também ressaltar que realizo uma pesquisa de extensão e cultura com a Universidade Federal do ABC e a Fundação Getúlio Vargas, que visa estudar os impactos da pandemia na população da região do M' Boi Mirim e participo realizando entrevistas e fazendo análise de dados.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
      </div>
    </ng-template>
<ng-template #VeneziContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Gabriel Venezi</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <p  style = "font-size : 16px; color : black;">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
      </div>
    </ng-template>    

</body>