body {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #34495e;
}
header {
  height: 10rem;
}

.content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  line-height: 40px;
  font-family: 'Muli';
  color: #ecf0f1;
  height: 160px;
  overflow: hidden;
}

.visible {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.visible:before {
  content: '[';
  left: 0;
  line-height: 40px;
}
.visible:after {
  content: ']';
  position: absolute;
  right: 0;
  line-height: 40px;
}
.visible:after, .visible:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  animation: 2s linear 0s normal none infinite opacity;
}

p {
  display: inline;
  float: left;
  margin-top: 8;
  font-size: 35px;
  color:  #ecf0f1;
}

ul {
  margin-top: 0;
  margin-left: 14;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  animation: 6s linear 0s normal none infinite change;
}

ul li {
  line-height: 40px;
  margin: 0;
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12%, 100% {
    transform: translateY(0);
  }
  17%,29% {
    transform: translateY(-25%);
  }
  34%,46% {
    transform: translateY(-50%);
  }
  51%,63% {
    transform: translateY(-75%);
  }
  68%,80% {
    transform: translateY(-50%);
  }
  85%,97% {
    transform: translateY(-25%);
  }
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px; }


