<body style = "background-color : #FFBD1D; text-align : center;">

<header style = "background-color: #FFBD1D; margin-bottom: -190px;">
<div class='content'>
    <div class='visible'>
      <p style = "font-family: 'Multi'">SOBRE </p>
      <ul>
        <li> NÓS</li>
        <li> NOIƵ</li>
        <li> NÓS</li>
        <li >NOIƵ</li>
      </ul>
    </div>
</div>

</header>
<a id = "voltar" style = "margin-right : 63rem" href = "/"><i style ="font-size: 48px; color : white" class="material-icons">keyboard_backspace

</i></a>

  
  <div>
  <h1 id = "titulo" >tudo que nós tem é nós - Emicida</h1></div>

<div>

<p id = "descricao">    Rogério ainda tem em mente a situação delicada de quando deixou o Leão do Pici para comandar o Cruzeiro e foi demitido meses depois. O Fortaleza o recebeu de volta de braços abertos, e o ex-goleiro já informou ao Flamengo que um litígio forçado está fora de cogitação.

  O vice-presidente de futebol rubro-negro, Marcos Braz, é quem tenta contornar a situação. Por outro lado, o presidente do Fortaleza, Marcelo Paz, diz ainda não ter sido procurado para tratar o tema.
  
  ATENÇÃO! Alguns navegadores de internet levam um certo tempo para atualizarem os caches de disciplinas e matrículas, mas se você consegue visualizar as suas requisições listadas abaixo, o sistema as salvou corretamente. Caso precise alterar as suas escolhas e elas não tenham aparecido na listagem de turmas, tente reiniciar o navegador, ou tentar novamente mais tarde.

A sua solicitação de matrículas em turmas para o 1º quadrimestre de 2021 foi concluída com sucesso em Segunda, 09 de Novembro de 2020, 19:36.

Seu código de autenticidade é: qkWDTRY33spTOz63aCSFgfh26rR8fCWCM9ltWBENAzjI2CvigCYgo0NEdrYg YyJwMysIyeHvoOQKQ5YsrHkZa8MezD8ZnNCH

Nome: GABRIEL GOMES DE OLIVEIRA COSTA

RA: 11201921471

Campus: Campus Santo André

Turno: Diurno

Carga semanal
Créditos (T-P): 18

Carga-horária (T-P-I): 40

Solicitou matrículas nas seguintes turmas:
BIR0004-15 - Bases Epistemológicas da Ciência Moderna A1-Matutino (Santo André) - TPI (3 - 0 - 4) - Campus Santo André
Terça-feira das 10:00 às 12:00 - semanal
Sexta-feira das 08:00 às 10:00 - quinzenal (I)
BCM0506-15 - Comunicação e Redes B1-Matutino (Santo André) - TPI (3 - 0 - 4) - Campus Santo André
Segunda-feira das 10:00 às 12:00 - semanal
Quinta-feira das 08:00 às 10:00 - quinzenal (I)
BCK0103-15 - Física Quântica S10-Matutino (Santo André) - TPI (3 - 0 - 4) - Campus Santo André
Quinta-feira das 14:00 às 16:00 - semanal
MCTA028-15 - Programação Estruturada D-Matutino (Santo André) - TPI (2 - 2 - 4) - Campus Santo André
Terça-feira das 08:00 às 10:00 - semanal
Sexta-feira das 10:00 às 12:00 - semanal
BCL0308-15 - Bioquímica: Estrutura, Propriedade e Funções de Biomoléculas A2-Matutino (Santo André) - TPI (3 - 2 - 6) - Campus Santo André
Terça-feira das 14:00 às 16:00 - semanal
Sexta-feira das 14:00 às 16:00 - quinzenal (I)
Sexta-feira das 16:00 às 18:00 - semanalEm recente entrevista ao "Bem, Amigos", Rogério Ceni citou o episódio da saída para o Cruzeiro e revelou o desejo de cumprir o contrato com o Fortaleza:
</p></div>


</body>