<body style = "background-color : #FFBD1D; text-align : center;">

<header style = "background-color: #FFBD1D; margin-bottom: -190px;">
<div class='content'>
    <div class='visible'>
      <p style = "font-family: 'Multi'">SOBRE </p>
      <ul>
        <li> NÓS</li>
        <li> NOIƵ</li>
        <li> NÓS</li>
        <li >NOIƵ</li>
      </ul>
    </div>
</div>

</header>
<a id = "voltar" style = "margin-right : 63rem" href = "/"><i style ="font-size: 48px; color : white" class="material-icons">keyboard_backspace

</i></a>

  
  <div>
  <h1 id = "titulo" >tudo que nós tem é nós - Emicida</h1></div>

<div >

<h2 id = "descricao">Mais uma brincando só pra vocês ver
  Que o pai 'ta abusado
  Elas 'tão jogando sem perceber
  Cacaraio Cacaraio
  Dj Pedro comanda a festa
  E ela que manda nesse ambiente
  Pouca coisa nem te interessa
  Ela sabe o que quer pela frente
  Ela quer zoar só curtir sua vida
  Deixa ela causar dançar com a raba
  Sem ser interrompida
  Ela quer zoar só curtir sua vida
  Deixa ela causar dançar com a raba
  Sem ser interrompida
  Calma moça pra fora essa linda polpa
  Desce e sobe a minha ladeira
  Maloqueiro gata eu não 'to de to
</h2></div>
<div class="card-group" >
  <div class="card" style = "margin-right: 2px; margin-left : 2px; margin-bottom : 100px;">
    <img class="card-img-top" src="../assets/foto_github.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card" style = "margin-right: 1px; margin-bottom : 100px;">
    <img class="card-img-top" src="../assets/camisarosa.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card"  style ="margin-left : 2px;margin-right : 2px;margin-bottom : 100px;">
    <img class="card-img-top" src="../assets/Venezi.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


</body>
