.card-esquerdo {
  background-color: red;
  
}

.card-direito {
  position: relative;
height: 100%;
background-color :#FFBD1D;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.logo {
  position: relative;
  text-align: center;


 
}
@media only screen and (min-width: 500px) {
  #imagem_mobile{ display: none !important;  margin-right: 2px; margin-left : 2px;}
  }
 


@media only screen and (max-width: 600px) {
#imagem_pc {
display : none;
} 
#imagem_mobile {
display : inline !important;
}

}

.text-box {
  left: 24.12%;
right: 24.22%;
top: 16.19%;
bottom: 68.91%;

font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 42px;
/* or 105% */


/* Texts / Botão */

color: #FFFFFF;
}
.card-direito .box {
  position: relative;
  position: absolute;
width: 60%;
height: 40%;
left: 20%;
top: 20%;
color : white;
  
background-color : #FFBD1D;

}
@keyframes hide {
  from { opacity: 1 }
  to   { opacity: 0 }
}
#mapa {
  width: 100%;
  height: 100%;
}
.alert-box {
  animation: hide 2s 2s forwards;
  padding: 15px;
  margin-bottom: 20px;
  width : 5%;
  height : 15%;
  border: 1px solid transparent;
  border-radius: 4px;
}

.success {
  color: FFBD1D;
  background-color: #dff0d8;
  border-color: #d6e9c6
}
#proc {width : 100%; margin-right :0px; margin-left:0px;}
@media screen and (max-width: 793px) {
  #mapa {
    display : none;
  }
  #title-map { display : none}
  #card-direito{
     width: 407%;
    height: 100%;
  }
  #proc {width : 250%; height : 100%;}

}
