<body style = "background-color : FFBD1D" >
  
    <header class="header-6" style = "height :100; background-color : #FFBD1D;justify-items : center center; ">
        <div>
            <img src = "./assets/imagens/home/logo_info.svg">
        </div>
        
       
    </header>

  

    <div style = "text-align: center;">
    <img src ='./assets/imagens/procure/pesquisa.png'> </div>
    <div  style = "text-align: center;">
        <a></a>
      </div>
    <div  style = "text-align: center;">
      <a href = "/" class = "button1"><i  style = "margin : 5 10" class="material-icons right">local_hospital
      </i>Órgãos Públicos de Saúde</a>
    </div>
  
  

  

</body>