<body style = "background-color : #FFBD1D;" >
  
    <header class="header-6" style = "height :100; background-color : #FFBD1D;justify-items : center center; ">
      <div>
          <img src = "./assets/logo_info.svg">
      </div>
      
     
  </header>
  
    <div  id = "imagem_pc"style = "text-align: center;">
    <img src ='./assets/human_outra.png'> </div>
    <div id = "imagem_mobile" style = "text-align: center;" >
      <img src ='./assets/Happy Bunch - Sitting.png'> 
    </div>
  
    <div  style = "text-align: center;">
      <a href = "/" class = "button1"><i  style = "margin : 5 10" class="material-icons right">headset
      </i>Confira as Notícias da Quebrada</a>
    </div>
  
  <div style = "text-align: center;">
    <a href = "/" class = "button1" style = "animation-delay:1s" ><i style = "margin : 5 10" class="material-icons right">search
    </i>Procure algum orgão público na M Boi Mirim</a>
  </div>
  <div  style = "text-align: center;" > 
    <a routerLink="/Sobre" routerLinkActive="selected" class = "button1" style = "background-color : white; color : purple;animation-delay:2s ">Sobre</a><br>

  </div>
  
  
  

</body>